::ng-deep #chart {
    height: 440px;
}

h2,tr,th,td, .box {
    text-align: center;
}

.field {
    text-align: left;      
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img2 {
    width: 300px;
}

.img1 {
    height: 30px;
    width: 350px;
}

.img {
    height: 50px;
    width: 200px;
}

h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    text-align: left;
}

h3 {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1%;
    margin-bottom: 1%;
}

