
<!-- Master Header -->
<nav class="navbar is-success">
    <!-- logo -->
    <div class="navbar-brand">
  
    <div class="logo">
      <a class="navbar-item" routerLink="/masterhome">
        <img src="assets/img/logo4.png" />
      </a>
    </div>
  
      <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <a class="navbar-item is-spaced" routerLink="/masterhome">
          Admin Request
        </a>
  
        <a class="navbar-item is-spaced" routerLink="/enquiry">
          Enqiury
        </a>
      </div>
    </div>  
  
    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-end">
        <span class="navbar-item" routerLink="/">
                <a class="button is-danger is-light is-rounded is-focused">
                  <span>Log Keluar</span>
                </a>
        </span>
      </div>
    </div>  
  </nav>
  
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">Pertanyaan / Mesej</h1>
        <h6>Sila balas pertanyaan pengguna menggunakan email anda di ruangan email sendiri.</h6>
      </div>
    </div>
  </section>
  
  <div class="container">
    <div class="column is-centered">
      <table class="table">
            <tr>
              <th style="text-align: center;padding-top: 20px;"><h3><b>Nama</b></h3></th>
              <th style="text-align: center;padding-top: 20px;"><h3><b>Email</b></h3></th>
              <th style="text-align: center;padding-top: 20px;"><h3><b>Pertanyaan/Mesej</b></h3></th>
              <th style="text-align: center;padding-top: 20px;"><h3><b>Status</b></h3></th>
              <th style="text-align: center;padding-top: 20px;"><h6>Tekan butang 'Balas' selepas anda selesai membalas di email sendiri</h6></th>
            </tr>
            
            <tr *ngFor="let enq of data[0]">
              <td>
                <input disabled class="input" type="text" value={{enq.name}} name="name" /></td>
              <td><input disabled class="input" type="text" value={{enq.email}} name="email" /></td>
              <td><input disabled class="input" type="text" value={{enq.enquiry}} name="enquiry" /></td>              
              <td><input disabled class="input" type="text" value={{enq.status}} name="status" /></td>
              <td style="padding-top: 8px;">
                <button type="submit" (click)="reply(enq.name,enq.email,enq.enquiry,enq.status)" class="button is-success is-normal" >Balas</button>&nbsp;&nbsp;&nbsp;
                <!-- <button type="submit" (click)="deleteRow(dynamic.fullname,dynamic.username,dynamic.email,dynamic.password,dynamic.phone, dynamic.job)" class="button is-danger is-normal" >Tolak</button>  -->
              </td>
            </tr>
        </table>
    </div>
  </div>    