
    <app-header [isUserLoggedIn]="true" ></app-header>
    
    <div class="section">
      <div class="columns">
        <aside class="column is-2">
          <nav class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a href="/adminhome">Dashboard</a></li>
            </ul>
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
              <li><a href="/daftarkubur" >Daftar Kematian</a></li>
              <li><a href="/semakandata" >Semakan Data</a></li>
              <li><a href="/listkubur" >Senarai Kematian</a></li>
            </ul>
            <p class="menu-label">
              User
            </p>
            <ul class="menu-list">
              <li><a href="/laporandata" >Laporan Data</a></li>
            </ul>
          </nav>
        </aside>

        <!-- FORM -->
        <main class="column">
        <section class="hero is-light">
            <div class="hero-body">
              <div class="container">
                <h1 class="title has-text-centered">Daftar Kematian</h1>
              </div>
            </div>
          </section>
          <br/>

          <div class="columns is-multiline">
            <div class="column">
              <div class="columns is-centered">
                <div class="column is-two-thirds">
                  <form [formGroup]="reactiveForm" (ngSubmit)="regKubur()">
                    <div class="field">
                      <label class="label">Nama Pendaftar</label>
                        <input class="input"
                                type="text"
                                formControlName="userid" 
                                [class.invalid]="!reactiveForm.controls.userid.valid && reactiveForm.controls.userid.dirty">
                                <p class="errorMessage" *ngIf="reactiveForm.controls.userid.hasError('required') && (reactiveForm.controls.userid.dirty)">
                                  Sila isi nama pendaftar
                                </p>
                    </div>
      
                    <div class="field">
                      <label class="label">Nama Si Mati</label>
                        <input class="input"
                                type="text"
                                formControlName="name" 
                                [class.invalid]="!reactiveForm.controls.name.valid && reactiveForm.controls.name.dirty">
                                <p class="errorMessage" *ngIf="reactiveForm.controls.name.hasError('required') && (reactiveForm.controls.name.dirty)">
                                  Sila isi nama kematian
                                </p>
                    </div>
      
                    <div class="field">
                      <label class="label">Tarikh Lahir</label>
                            <div class="field is-expanded">
                              <div class="field has-addons">
                                <p class="control is-expanded">
                                    <kendo-datepicker formControlName="dob" [format]="format"  [class.invalid]="!reactiveForm.controls.dob.valid && reactiveForm.controls.dob.dirty"></kendo-datepicker>
                                </p>
                              </div>
                            </div>                
                          <p class="errorMessage" *ngIf="reactiveForm.controls.dob.hasError('required') && (reactiveForm.controls.dob.dirty)">
                            Sila isi tarikh lahir
                          </p> 
                    </div>
      
                    <div class="field">
                      <label class="label">Tarikh Kematian</label>
                            <div class="field is-expanded">
                              <div class="field has-addons">
                                <p class="control is-expanded">
                                    <kendo-datepicker type="date" formControlName="dod" [format]="format" [class.invalid]="!reactiveForm.controls.dod.valid && reactiveForm.controls.dod.dirty"></kendo-datepicker>
                                </p>
                              </div>
                            </div>                
                          <p class="errorMessage" *ngIf="reactiveForm.controls.dod.hasError('required') && (reactiveForm.controls.dod.dirty)">
                            Sila isi tarikh kematian
                          </p> 
                    </div>
      
                    <div class="field">
                      <label class="label">Plot Kubur</label>
                        <input class="input"
                                type="text"
                                formControlName="plot" 
                                [class.invalid]="!reactiveForm.controls.plot.valid && reactiveForm.controls.plot.dirty">
                              <p class="errorMessage" *ngIf="reactiveForm.controls.plot.hasError('required') && (reactiveForm.controls.plot.dirty)">
                                  Sila isi plot kubur
                              </p>
                    </div>

                    <div class="field">
                      <label class="label">Lokasi:</label>
                      <div class="select">
                        <select  formControlName="location" class="form-control" (ngModelChange)="changeWebsite($event)">
                          <option disabled>Lokasi</option>
                          <option *ngFor="let loc of locList" [value]="loc">{{loc}}</option>
                        </select>
                      </div>
                    </div> 
                    <div *ngIf="reactiveForm.controls.plot.hasError('required') && (reactiveForm.controls.plot.dirty)" class="alert">
                      <h5 style="color:red; text-align: center;"><div *ngIf="reactiveForm.controls.location.hasError('required')">Lokasi diperlukan.</div></h5> 
                    </div>

                    <div class="field">
                      <label class="label">Latitud</label>
                        <input class="input"
                                type="number"
                                formControlName="latitude" 
                                [class.invalid]="!reactiveForm.controls.latitude.valid && reactiveForm.controls.latitude.dirty">
                              <p class="errorMessage" *ngIf="reactiveForm.controls.latitude.hasError('required') && (reactiveForm.controls.latitude.dirty)">
                                  Sila isi latitude
                              </p>
                    </div>

                    <div class="field">
                      <label class="label">Longitud</label>
                        <input class="input"
                                type="number"
                                formControlName="longitude" 
                                [class.invalid]="!reactiveForm.controls.longitude.valid && reactiveForm.controls.longitude.dirty">
                              <p class="errorMessage" *ngIf="reactiveForm.controls.longitude.hasError('required') && (reactiveForm.controls.longitude.dirty)">
                                  Sila isi longitude
                              </p>
                    </div>
      
                    <div class="buttons is-centered">
                    <button type="submit" [disabled]="!reactiveForm.valid" class="button is-primary">Daftar</button>
                    </div>



                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div> 

<!-- 
    <aside class="column is-10">

          <div class="columns is-centered">
            <div class="column is-two-thirds">
              <form [formGroup]="reactiveForm" (ngSubmit)="regKubur()">
                <div class="field">
                  <label class="label">Nama Pendaftar</label>
                    <input class="input"
                            type="text"
                            formControlName="userid" 
                            [class.invalid]="!reactiveForm.controls.userid.valid && reactiveForm.controls.userid.dirty">
                            <p class="errorMessage" *ngIf="reactiveForm.controls.userid.hasError('required') && (reactiveForm.controls.userid.dirty)">
                              Sila isi nama pendaftar
                            </p>
                </div>
  
                <div class="field">
                  <label class="label">Nama Si Mati</label>
                    <input class="input"
                            type="text"
                            formControlName="name" 
                            [class.invalid]="!reactiveForm.controls.name.valid && reactiveForm.controls.name.dirty">
                            <p class="errorMessage" *ngIf="reactiveForm.controls.name.hasError('required') && (reactiveForm.controls.name.dirty)">
                              Sila isi nama pendaftar
                            </p>
                </div>
  
                <div class="field">
                  <label class="label">Tarikh Lahir</label>
                        <div class="field is-expanded">
                          <div class="field has-addons">
                            <p class="control is-expanded">
                              <input class="input" type="phone" formControlName="dob"
                                [class.invalid]="!reactiveForm.controls.dob.valid && reactiveForm.controls.dob.dirty">
                            </p>
                          </div>
                        </div>                
                      <p class="errorMessage" *ngIf="reactiveForm.controls.dob.hasError('required') && (reactiveForm.controls.dob.dirty)">
                        Sila isi tarikh lahir
                      </p> 
                </div>
  
                <div class="field">
                  <label class="label">Tarikh Kematian</label>
                        <div class="field is-expanded">
                          <div class="field has-addons">
                            <p class="control is-expanded">
                              <input class="input" type="phone" formControlName="dod"
                                [class.invalid]="!reactiveForm.controls.dod.valid && reactiveForm.controls.dod.dirty">
                            </p>
                          </div>
                        </div>                
                      <p class="errorMessage" *ngIf="reactiveForm.controls.dod.hasError('required') && (reactiveForm.controls.dod.dirty)">
                        Sila isi tarikh kematian
                      </p> 
                </div>
  
                <div class="field">
                  <label class="label">Plot Kubur</label>
                    <input class="input"
                            type="text"
                            formControlName="plot" 
                            [class.invalid]="!reactiveForm.controls.plot.valid && reactiveForm.controls.plot.dirty">
                          <p class="errorMessage" *ngIf="reactiveForm.controls.plot.hasError('required') && (reactiveForm.controls.plot.dirty)">
                              Sila isi plot kubur
                          </p>
                </div>
  
                <div class="buttons is-centered">
                <button type="submit" [disabled]="!reactiveForm.valid" class="button is-primary">Daftar</button>
                </div>
              </form>      
            </div>
          </div>
    </aside>   -->