<app-header [isUserLoggedIn]="false" ></app-header>


<agm-map [latitude]="lat" [longitude]="lng" [usePanning]="true">
    <agm-marker 
    [latitude]="lat" 
    [longitude]="lng" 
    (markerClick)="clickedMarker(infowindow)">

    <agm-info-window #infowindow>
        <strong>Maklumat</strong>
        <h4>Nama : {{nama}} <br/>
        Plot Kubur : {{plot}}</h4>
      </agm-info-window>

    </agm-marker>
</agm-map>

<div class="container">
    <p>Maklumat lokasi:</p>  
    <p>Latitude: {{latitude}}</p>
    <p>Longitude: {{longitude}}</p>
</div>
 

<!-- <div  (foo)='displayCounter($event)'></div> -->


    
