#map {
    height: 500px;
    width: 100%;
   }

agm-map {
    height: 600px;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}  

a {
    font-size: larger;
}