<app-header [isUserLoggedIn]="false" ></app-header>

<!-- <div class="inner">
    <span>
        <a routerLink="/search-form">Carian</a>  > 
        <a routerLink="/map">Peta</a>
    </span>
</div> -->
<!-- <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">Carian Maklumat Kematian</h1>
      </div>
    </div>
  </section> -->

<nav class="breadcrumb is-left" style="margin-left: 10px;" aria-label="breadcrumbs"><br/>
    <ul>
      <li><a routerLink="/search-form">Carian</a></li>
      <li><a routerLink="/map">Peta</a></li>
    </ul>
</nav>

<agm-map 
[latitude]="lat" 
[longitude]="lng" 
[zoom]="20"  
[usePanning]="true">
<agm-map-type-control></agm-map-type-control>
    <agm-marker 
    [latitude]="lat" 
    [longitude]="lng"
    (markerClick)="clickedMarker(infowindow)">

    <agm-info-window #infowindow>
        <h3><strong>Maklumat</strong></h3>
        <h4>
          <strong>Nama :</strong> {{nama}} <br/>
          <strong>Tarikh Kematian :</strong> {{dod | date: 'dd/MM/yyyy'}} <br/>
          <strong>Plot Kubur :</strong> {{plot}}
        </h4>
      </agm-info-window>

    </agm-marker>
</agm-map>

<!-- <div class="container">
    <p>Maklumat lokasi:</p>  
    <p>Latitude: {{latitude}}</p>
    <p>Longitude: {{longitude}}</p>
</div> -->