::ng-deep #chart {
    height: 440px;
    width: fit-content;
}

h2,tr,th,td, .box {
    text-align: center;
}

.field {
    text-align: left;
}

.img2 {
    width: 300px;
}

.img1 {
    height: 30px;
    width: 350px;
}

.img {
    height: 50px;
    width: 200px;
}

.tanahkosong {
    height: 25px;
    width: 350px;
}

label {
    text-align: left;
}

h3 {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
