<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Peta</p>
        <button class="delete" aria-label="close" (click)="cancel()"></button>
      </header>

      <section class="modal-card-body">
        <div class="field">
            <input class="search" type="text" (keydown.enter)="$event.preventDefault()"
                placeholder="Carian lokasi" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                #search>
        </div>
        <agm-map
        [latitude]="latitude" 
        [longitude]="longitude"
        [zoom]="19">
        <agm-map-type-control></agm-map-type-control>
           <agm-marker
           [latitude]="latitude" 
        [longitude]="longitude"
        [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)" >
        </agm-marker>
        </agm-map>
        <h5>Address: {{address}}</h5>
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>
      </section>

      <footer class="modal-card-foot">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel(&event)">Close</button> -->
        <button type="submit" class="button is-link" (click)="saveLocation()">Simpan Lokasi</button>
      </footer>
    </div>
  </div>
